src/main/mule/resources/contacts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <sub-flow name="validate-contact">
        <choice>
            <when expression="#[payload.name?]">
                <validation:is-not-blank-string value="#[payload.name]" message="Contact name cannot be blank.">
                    <error-mapping sourceType="VALIDATION:BLANK_STRING" targetType="VALIDATION_FAILURE:BLANK_NAME" />
                </validation:is-not-blank-string>
            </when>
        </choice>
    </sub-flow>

    <flow name="create-contact">
        <try>
            <flow-ref name="validate-contact" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try>
            <set-variable variableName="contactId" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" />
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>SELECT Id FROM Supplier__c WHERE UUID__c = ':supplierUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{supplierUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <set-variable variableName="supplierSfId" value="#[payload[0].Id]" />
            <salesforce:create config-ref="SalesforceConfig" type="Contact">
                <salesforce:records>#[[{
                    UUID__c: vars.contactId,
                    Supplier__c: vars.supplierSfId,
                    LastName: payload.name,
                    (Email: payload.email) if (payload.email != null),
                    (Phone: payload.phone) if (payload.phone != null),
                    (Title: payload.title) if (payload.title != null)
                }]]</salesforce:records>
            </salesforce:create>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Contact created: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: vars.contactId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="find-contact-by-id">
        <try>
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>SELECT UUID__c, Name, Email, Phone, Title FROM Contact WHERE UUID__c = ':contactUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{contactUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var item = payload[0]
---
{
    id: item.UUID__c,
    name: item.Name,
    email: item.Email,
    phone: item.Phone,
    title: item.Title
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="update-contact">
        <try>
            <flow-ref name="validate-contact" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try>
            <salesforce:upsert config-ref="SalesforceConfig" type="Contact" externalIdFieldName="UUID__c">
                <salesforce:records>#[[{
                    UUID__c: vars.id,
                    (LastName: payload.name) if (payload.name?),
                    (Email: payload.email) if (payload.email != null),
                    (Phone: payload.phone) if (payload.phone != null),
                    (Title: payload.title) if (payload.title != null)
                }]]</salesforce:records>
            </salesforce:upsert>
            <logger level="INFO" message="#[&quot;Raw results: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="delete-contact">
        <try>
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>SELECT Id FROM Contact WHERE UUID__c = ':contactUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{contactUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <salesforce:delete config-ref="SalesforceConfig" type="Contact">
                <salesforce:ids>#[payload map $.Id]</salesforce:ids>
            </salesforce:delete>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Contact deleted: $(vars.id)&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="query-contacts-by-supplier">
        <try>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.limit default 25) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="afterCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.after]]></ee:set-variable>
                    <ee:set-variable variableName="beforeCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.before]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="soql"><![CDATA[%dw 2.0
import dw::util::Pagination
output application/java
---
var safeSupplierId = if (Pagination::isValidUuid(vars.id)) vars.id else ""
var safeBefore = if (vars.beforeCursor != null and Pagination::isValidUuid(vars.beforeCursor)) vars.beforeCursor else null
var safeAfter = if (vars.afterCursor != null and Pagination::isValidUuid(vars.afterCursor)) vars.afterCursor else null
var baseQuery = "SELECT UUID__c, Name, Email, Phone, Title FROM Contact WHERE Supplier__r.UUID__c = '" ++ safeSupplierId ++ "'"
---
if (safeBefore != null)
    baseQuery ++ " AND UUID__c < '" ++ safeBefore ++ "' ORDER BY UUID__c DESC LIMIT " ++ (vars.pageSize + 1)
else if (safeAfter != null)
    baseQuery ++ " AND UUID__c > '" ++ safeAfter ++ "' ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)
else
    baseQuery ++ " ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>#[vars.soql]</salesforce:salesforce-query>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
import dw::util::Pagination
output application/json
---
var result = Pagination::paginate(payload, vars.pageSize, vars.afterCursor, vars.beforeCursor)
---
{
    paging: {
        cursors: {
            before: result.before,
            after: result.after
        },
        hasNext: result.after != null,
        hasPrevious: result.before != null,
        limit: vars.pageSize
    },
    results: result.data map {
        id: $.UUID__c,
        name: $.Name,
        email: $.Email,
        phone: $.Phone default null,
        title: $.Title default null
    }
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus">200</ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
    </flow>
</mule>
