src/main/mule/resources/contacts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
    xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd">

    <sub-flow name="validate-contact" doc:name="VALIDATE: Contact">
        <choice doc:name="CHECK: Name Not Blank">
            <when expression="#[payload.firstName?]">
                <validation:is-not-blank-string value="#[payload.firstName]" message="Contact name cannot be blank." doc:name="VALIDATE: First Name is Not Blank">
                    <error-mapping sourceType="VALIDATION:BLANK_STRING" targetType="VALIDATION_FAILURE:BLANK_NAME" />
                </validation:is-not-blank-string>
            </when>
        </choice>
		<choice doc:name="CHECK: Valid Phone" doc:id="197b54ee-8c2b-4843-8501-3bb4e666102d" >
			<when expression="#[payload.phone?]">
				<validation:is-true doc:name="VALIDATE: Phone Number" doc:id="fca3f992-3293-4d0a-8c8e-6678425805eb" expression="#[import isE164 from dataweave::util::Phone --- isE164(payload.phone)]" message="#[&quot;Phone number provided is not in the correct format. Phone number provided: '$(payload.phone)'&quot;]" >
					<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="VALIDATION_FAILURE:INVALID_PHONE_NUMBER" />
				</validation:is-true>
			</when>
		</choice>
		<choice doc:name="CHECK: Valid Email" doc:id="14e97dfa-2017-40fe-a683-f54ade62c7d2" >
			<when expression="#[payload.email?]">
				<validation:is-email doc:name="VALIDATE: Email" doc:id="5e326336-1cef-49a1-9eae-68a4f00ba07e" email="#[payload.email]" message="#[&quot;Email provided is not in the correct format. Email provided: '$(payload.email)'&quot;]" >
					<error-mapping sourceType="VALIDATION:INVALID_EMAIL" targetType="VALIDATION_FAILURE:INVALID_EMAIL" />
				</validation:is-email>
			</when>
		</choice>
    
</sub-flow>

    <flow name="create-contact" doc:name="CREATE: Contact">
		<set-variable value="#[vars.id]" doc:name="SET: supplierUuid" doc:id="e5c2a9ce-bf2a-42b2-a618-849c9edf099f" variableName="supplierUuid"/>
		<try doc:name="TRY: Validate Contact">
            <flow-ref name="validate-contact" doc:name="INVOKE: Validate Contact" target="validateContactResult"/>
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Create Contact in Salesforce">
            <set-variable variableName="contactUuid" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" doc:name="SET: contactUuid "/>
            <salesforce-composite:execute-composite-request doc:name="CREATE: Contact" doc:id="e37a9613-f92e-4cd3-bdb5-aa4fdc359e73" config-ref="SalesforceCompositeConfig" target="createContactResponse">
				<salesforce-composite:request-body ><![CDATA[#[%dw 2.0
import capitalize, remove from dw::core::Strings
output application/json
var apiVersion = "v66.0"
var contactUuid = vars.contactUuid
var supplierId = vars.id default ""
var createContactPayload = payload filterObject ($ != null) mapObject ((v, k) -> do {
	var newK = capitalize(k) remove " " ++ "__c"
	---
	{
		(newK): v
	}
}
   
)
---
{
	allOrNone: true,
	compositeRequest: [{
		referenceId: "supplierLookup",
		method: "GET",
		url: "/services/data/$(apiVersion)/query?q=SELECT+Id+FROM+Supplier__c+WHERE+UUID__c='$(supplierId)'+LIMIT+1"
	},
		{
		referenceId: "createContact",
		method: "POST",
		url: "/services/data/$(apiVersion)/sobjects/ContactInformation__c",
		body: createContactPayload ++ {
			"UUID__c": contactUuid,
			"Supplier__c": "@{supplierLookup.records[0].Id}"
		}
	}]
}]]]></salesforce-composite:request-body>
			</salesforce-composite:execute-composite-request>
			<choice doc:name="CHECK: Create Contact Response Succeeded" doc:id="196f6dee-c54c-4621-a013-6458e2843510" >
				<when expression="#[%dw 2.0&#10;import every from dw::core::Arrays&#10;---&#10;vars.createContactResponse.compositeResponse every ($.httpStatusCode &gt;= 400)]">
					<logger level="ERROR" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Response: $(write(vars.createContactResponse, 'application/json'))&quot;]" doc:name="ERROR: Log Create Contact Result"/>
					<raise-error doc:name="RAISE: Salesforce Error" doc:id="a8c6a8b1-1216-4e74-86b7-8bef414ea5b3" type="VALIDATION_FAILURE:SALESFORCE"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="INFO: Contact Created Successfully" doc:id="6b965399-fedb-4279-8d88-ef42ded6a16c" message='#["Contact Created Successfully"]'/>
				</otherwise>
			</choice>
			<error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: 201 Created Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: vars.contactUuid
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="find-contact-by-id" doc:name="GET: Contact By Id">
        <try doc:name="TRY: Query Contact by UUID">
            <salesforce:query config-ref="SalesforceConfig" doc:name="GET: Contact by UUID" target="getContactResult">
                <salesforce:salesforce-query><![CDATA[SELECT UUID__c, CreatedDate, LastModifiedDate, Salutation__c, FirstName__c, LastName__c, Pronouns__c, Email__c, Phone__c, Title__c, Department__c, Description__c FROM ContactInformation__c WHERE UUID__c = ':contactUuid' LIMIT 1 ]]></salesforce:salesforce-query>
                <salesforce:parameters><![CDATA[#[{contactUuid: vars.id}]]]></salesforce:parameters>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(vars.getContactResult, 'application/json'))&quot;]" doc:name="INFO: Log Raw Result"/>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: Contact or 404 Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var item = vars.getContactResult[0]
---
if ( sizeOf(item) == 0 ) {
	message: "Resource not found"
}
else
{
	id: item.UUID__c,
	salutation: item.Salutation__c,
	firstName: item.FirstName__c,
	lastName: item.LastName__c,
	email: item.Email__c,
	phone: item.Phone__c,
	title: item.Title__c,
	department: item.Department__c,
	description: item.Description__c,
	createdAt: item.CreatedDate,
	modifiedAt: item.LastModifiedDate
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java

var item = vars.getContactResult
---
if (sizeOf(item) == 0) 404 else 200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="update-contact" doc:name="UPDATE: Contact">
        <try doc:name="TRY: Validate Contact">
            <flow-ref name="validate-contact" doc:name="INVOKE: Validate Contact" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Update Contact in Salesforce">
            <salesforce:upsert config-ref="SalesforceConfig" doc:name="UPSERT: Contact by UUID" externalIdFieldName="UUID__c" objectType="ContactInformation__c" target="updateContactResult">
                <salesforce:records><![CDATA[#[%dw 2.0
import capitalize, remove from dw::core::Strings
var updateContactPayload = (payload filterObject ($$ != null) mapObject((v, k) -> {
    (capitalize(k) remove " " ++ "__c"): v
})) ++  { UUID__c: vars.id }
---
[updateContactPayload]]]]></salesforce:records>
            </salesforce:upsert>
            <logger level="INFO" message="#[&quot;Raw results: $(write(payload, 'application/json'))&quot;]" doc:name="INFO: Update Contact Result"/>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="delete-contact" doc:name="DELETE: Contact">
		<try doc:name="TRY: Query and Delete Contact">
			<salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Contact by UUID">
                <salesforce:salesforce-query><![CDATA[SELECT Id FROM ContactInformation__c WHERE UUID__c = ':contactUuid' LIMIT 1]]></salesforce:salesforce-query>
                <salesforce:parameters><![CDATA[#[{contactUuid: vars.id}]]]></salesforce:parameters>
            </salesforce:query>
			<salesforce:delete config-ref="SalesforceConfig" doc:name="DELETE: Contact Records">
                <salesforce:ids>#[payload map $.Id]</salesforce:ids>
            </salesforce:delete>
			<choice doc:name="CHECK: Contact Deleted" doc:id="42461d99-dd78-4eaf-8d1f-550b2e64c8a3" >
				<when expression="#[not payload.successful]">
					<logger level="ERROR" doc:name="ERROR: Contact Deletion Unsuccessful" doc:id="46c95a45-e8bd-4f8e-8f02-6c0c761a1568" message="#[&quot;Could not delete contact: Result payload: $(write(payload, 'application/json'))&quot;]"/>
					<raise-error doc:name="RAISE: Delete Failed Error" doc:id="a6488534-39a8-40bb-8c9f-d0f171e86454" type="SALESFORCE_FAILURE:DELETE_FAILED" description="Was unable to delete the contact"/>
				</when>
				<otherwise >
					<logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Contact deleted: $(vars.id)&quot;]" doc:name="INFO: Deleted Contact" />
				</otherwise>
			</choice>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
		<ee:transform doc:name="SET: 204 No Content">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    
</flow>

    <flow name="query-contacts-by-supplier" doc:name="GET: Query Contacts By Supplier">
        <try doc:name="TRY: Query Paginated Contacts">
            <ee:transform doc:name="BUILD: Cursor SOQL Query">
                <ee:variables>
                    <ee:set-variable variableName="soql"><![CDATA[%dw 2.0
output application/json

var q = attributes.queryParams.q default ""
var supplierUuid = vars.id default ""
var limit = attributes.queryParams.limit default 25
var offset = attributes.queryParams.offset default 0

var fieldsToSearch = [
    "FirstName__c",
    "LastName__c",
    "Email__c",
    "Phone__c",
    "Title__c",
]

var likeClause =
    "(" ++
    ((fieldsToSearch map (f) -> "$(f) LIKE '%$(q)%'") joinBy " OR ") ++
    ")"

var baseQuery = 
    "SELECT UUID__c, CreatedDate, LastModifiedDate, FirstName__c, LastName__c, Phone__c, Email__c, Salutation__c, Pronouns__c, Title__c, Description__c " ++
    "FROM ContactInformation__c WHERE Supplier__r.UUID__c = '$(supplierUuid)'"

var extendedQuery = if (!isEmpty(q))
    "$(baseQuery) AND $(likeClause)"
    else
    	baseQuery
---
extendedQuery ++ " LIMIT $(limit) OFFSET $(offset)"]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Paginated Contacts">
                <salesforce:salesforce-query>#[vars.soql]</salesforce:salesforce-query>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Query Contacts Result: $(write(payload, 'application/json'))&quot;]" doc:name="INFO: Query Contacts Result"/>
            <ee:transform doc:name="MAP: Paginated Contacts">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
import camelize, remove from dw::core::Strings
output application/json
var paging = {
	limit: attributes.queryParams.limit default 25,
	offset: attributes.queryParams.limit default 0
}
fun transform(o: Object): Object =
    o filterObject((v, k) -> lower(k) != "id" and lower(k) != "type") mapObject((v, k) -> k match {
	case "Type" -> {
	}
	
	case "CreatedDate" -> {
		createdAt: v
	}
	
	case "LastModifiedDate" -> {
		modifiedAt: v
	}
	case "UUID__c" -> {
		id: v
	}

	else -> {
		(camelize(k remove "__c")): v
	}
})
var results = payload map (transform($))
---
{
	paging: paging,
	results: results
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
			<error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
    </flow>
</mule>
