src/main/mule/resources/facilities.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <sub-flow name="validate-facility" doc:name="VALIDATE: Facility">
        <choice doc:name="CHECK: Named Not Blank">
            <when expression="#[payload.name?]">
                <validation:is-not-blank-string value="#[payload.name]" message="Facility name cannot be blank.">
                    <error-mapping sourceType="VALIDATION:BLANK_STRING" targetType="VALIDATION_FAILURE:BLANK_NAME" />
                </validation:is-not-blank-string>
            </when>
        </choice>
    </sub-flow>

    <flow name="create-facility" doc:name="CREATE: Facility">
        <try doc:name="TRY: Validate Facility">
            <flow-ref name="validate-facility" doc:name="INVOKE: Validate Facility" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Create Facility in Salesforce">
            <set-variable variableName="facilityId" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" />
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Lookup Supplier by UUID">
                <salesforce:salesforce-query>SELECT Id FROM Supplier__c WHERE UUID__c = ':supplierUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{supplierUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <choice doc:name="CHECK: Supplier Exists">
                <when expression="#[sizeOf(payload) > 0]">
                    <set-variable variableName="supplierSfId" value="#[payload[0].Id]" />
                </when>
                <otherwise>
                    <raise-error doc:name="RAISE: Supplier Not Found" type="VALIDATION_FAILURE:RESOURCE_NOT_FOUND" description="Supplier not found" />
                </otherwise>
            </choice>
            <salesforce:create config-ref="SalesforceConfig" doc:name="CREATE: Facility in Salesforce" type="Facility__c">
                <salesforce:records>#[[{
                    UUID__c: vars.facilityId,
                    Supplier__c: vars.supplierSfId,
                    Name: payload.name,
                    (Type__c: payload.facilityType) if (payload.facilityType != null),
                    (Status__c: payload.status) if (payload.status != null)
                }]]</salesforce:records>
            </salesforce:create>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Facility created: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: 201 Created Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: vars.facilityId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="find-facility-by-id" doc:name="GET: Facility By Id">
        <try doc:name="TRY: Query Facility by UUID">
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Facility by UUID">
                <salesforce:salesforce-query>SELECT UUID__c, Name, Type__c, Status__c FROM Facility__c WHERE UUID__c = ':facilityUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{facilityUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: Facility or 404 Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var item = payload[0]
---
if (sizeOf(payload) == 0)
    {message: "Resource not found"}
else
{
    id: item.UUID__c,
    name: item.Name,
    "type": item.Type__c,
    status: item.Status__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
if (sizeOf(payload) == 0) 404 else 200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="update-facility" doc:name="UPDATE: Facility">
        <try doc:name="TRY: Validate Facility">
            <flow-ref name="validate-facility" doc:name="INVOKE: Validate Facility" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Update Facility in Salesforce">
            <salesforce:upsert config-ref="SalesforceConfig" doc:name="UPSERT: Facility by UUID" externalIdFieldName="UUID__c" objectType="Facility__c">
                <salesforce:records><![CDATA[#[[{
                    UUID__c: vars.id,
                    (Name: payload.name) if (payload.name?),
                    (Type__c: payload.facilityType) if (payload.facilityType != null),
                    (Status__c: payload.status) if (payload.status != null)
                }]]]]></salesforce:records>
            </salesforce:upsert>
            <logger level="INFO" message="#[&quot;Raw results: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="PASS: Updated Facility">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="query-facilities-by-supplier" doc:name="GET: Query Facilities By Supplier">
        <try doc:name="TRY: Query Paginated Facilities">
            <ee:transform doc:name="SET: Pagination Params">
                <ee:variables>
                    <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.limit default 25) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="afterCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.after]]></ee:set-variable>
                    <ee:set-variable variableName="beforeCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.before]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform doc:name="BUILD: Cursor SOQL Query">
                <ee:variables>
                    <ee:set-variable variableName="soql"><![CDATA[%dw 2.0
import dataweave::util::Pagination
output application/java

var safeSupplierId = if (Pagination::isValidUuid(vars.id)) vars.id else ""
var safeBefore = if (vars.beforeCursor != null and Pagination::isValidUuid(vars.beforeCursor)) vars.beforeCursor else null
var safeAfter = if (vars.afterCursor != null and Pagination::isValidUuid(vars.afterCursor)) vars.afterCursor else null
var baseQuery = "SELECT UUID__c, Name, Type__c, Status__c FROM Facility__c WHERE Supplier__r.UUID__c = '" ++ safeSupplierId ++ "'"
---
if (safeBefore != null)
    baseQuery ++ " AND UUID__c < '" ++ safeBefore ++ "' ORDER BY UUID__c DESC LIMIT " ++ (vars.pageSize + 1)
else if (safeAfter != null)
    baseQuery ++ " AND UUID__c > '" ++ safeAfter ++ "' ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)
else
    baseQuery ++ " ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Paginated Facilities">
                <salesforce:salesforce-query>#[vars.soql]</salesforce:salesforce-query>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <ee:transform doc:name="MAP: Paginated Facilities">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
import dataweave::util::Pagination
output application/json

var result = Pagination::paginate(payload, vars.pageSize, vars.afterCursor, vars.beforeCursor)
---
{
    paging: {
        cursors: {
            before: result.before,
            after: result.after
        },
        hasNext: result.after != null,
        hasPrevious: result.before != null,
        limit: vars.pageSize
    },
    results: result.data map {
        id: $.UUID__c,
        name: $.Name,
        "type": $.Type__c,
        status: $.Status__c
    }
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
    </flow>

    <flow name="replace-inventory" doc:name="PUT: Replace Inventory">
        <try doc:name="TRY: Replace Inventory">
            <ee:transform doc:name="PARSE: XLSX Inventory Rows">
                <ee:variables>
                    <ee:set-variable variableName="inventoryRows"><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
read(fromBase64(payload.file), "application/xlsx")]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Lookup Facility by UUID">
                <salesforce:salesforce-query>SELECT Id FROM Facility__c WHERE UUID__c = ':facilityUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{facilityUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <choice doc:name="CHECK: Facility Exists">
                <when expression="#[sizeOf(payload) > 0]">
                    <set-variable variableName="facilitySfId" value="#[payload[0].Id]" />
                </when>
                <otherwise>
                    <raise-error doc:name="RAISE: Facility Not Found" type="VALIDATION_FAILURE:RESOURCE_NOT_FOUND" description="Facility not found" />
                </otherwise>
            </choice>
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Existing Inventory by Facility">
                <salesforce:salesforce-query>SELECT Id FROM Inventory__c WHERE Facility__r.UUID__c = ':facilityUuid'</salesforce:salesforce-query>
                <salesforce:parameters>#[{facilityUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <choice doc:name="CHECK: Has Existing Inventory">
                <when expression="#[sizeOf(payload) > 0]">
                    <salesforce:delete config-ref="SalesforceConfig" doc:name="DELETE: Existing Inventory">
                        <salesforce:ids>#[payload map $.Id]</salesforce:ids>
                    </salesforce:delete>
                </when>
            </choice>
            <set-variable variableName="recordsCreated" value="#[0]" />
            <foreach doc:name="FOR EACH: XLSX Row" collection="#[vars.inventoryRows]">
                <set-variable variableName="xlsxRow" value="#[payload]" />
                <set-variable variableName="productId" value="#[vars.xlsxRow.'Product ID']" />
                <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Lookup Product by UUID">
                    <salesforce:salesforce-query>SELECT Id FROM Product__c WHERE UUID__c = ':productUuid' LIMIT 1</salesforce:salesforce-query>
                    <salesforce:parameters>#[{productUuid: vars.productId}]</salesforce:parameters>
                </salesforce:query>
                <choice doc:name="CHECK: Product Exists">
                    <when expression="#[sizeOf(payload) > 0]">
                        <set-variable variableName="inventoryId" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" />
                        <salesforce:create config-ref="SalesforceConfig" doc:name="CREATE: Inventory Record" type="Inventory__c">
                            <salesforce:records>#[[{
                                UUID__c: vars.inventoryId,
                                Facility__c: vars.facilitySfId,
                                Product__c: payload[0].Id,
                                Quantity__c: vars.xlsxRow.Quantity as Number
                            }]]</salesforce:records>
                        </salesforce:create>
                        <set-variable variableName="recordsCreated" value="#[vars.recordsCreated + 1]" />
                    </when>
                </choice>
            </foreach>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: Inventory Replace Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "ok",
    recordsCreated: vars.recordsCreated
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
</mule>
