src/main/mule/resources/facilities.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <sub-flow name="validate-facility">
        <choice>
            <when expression="#[payload.name?]">
                <validation:is-not-blank-string value="#[payload.name]" message="Facility name cannot be blank.">
                    <error-mapping sourceType="VALIDATION:BLANK_STRING" targetType="VALIDATION_FAILURE:BLANK_NAME" />
                </validation:is-not-blank-string>
            </when>
        </choice>
    </sub-flow>

    <flow name="create-facility">
        <try>
            <flow-ref name="validate-facility" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try>
            <set-variable variableName="facilityId" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" />
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>SELECT Id FROM Supplier__c WHERE UUID__c = ':supplierUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{supplierUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <set-variable variableName="supplierSfId" value="#[payload[0].Id]" />
            <salesforce:create config-ref="SalesforceConfig" type="Facility__c">
                <salesforce:records>#[[{
                    UUID__c: vars.facilityId,
                    Supplier__c: vars.supplierSfId,
                    Name: payload.name,
                    (Type__c: payload.type) if (payload.type != null),
                    (Status__c: payload.status) if (payload.status != null)
                }]]</salesforce:records>
            </salesforce:create>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Facility created: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: vars.facilityId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="find-facility-by-id">
        <try>
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>SELECT UUID__c, Name, Type__c, Status__c FROM Facility__c WHERE UUID__c = ':facilityUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{facilityUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var item = payload[0]
---
{
    id: item.UUID__c,
    name: item.Name,
    type: item.Type__c,
    status: item.Status__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="update-facility">
        <try>
            <flow-ref name="validate-facility" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try>
            <salesforce:upsert config-ref="SalesforceConfig" type="Facility__c" externalIdFieldName="UUID__c">
                <salesforce:records>#[[{
                    UUID__c: vars.id,
                    (Name: payload.name) if (payload.name?),
                    (Type__c: payload.type) if (payload.type != null),
                    (Status__c: payload.status) if (payload.status != null)
                }]]</salesforce:records>
            </salesforce:upsert>
            <logger level="INFO" message="#[&quot;Raw results: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="query-facilities-by-supplier">
        <try>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.limit default 25) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="afterCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.after]]></ee:set-variable>
                    <ee:set-variable variableName="beforeCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.before]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="soql"><![CDATA[%dw 2.0
output application/java
---
var baseQuery = "SELECT UUID__c, Name, Type__c, Status__c FROM Facility__c WHERE Supplier__r.UUID__c = '" ++ vars.id ++ "'"
---
if (vars.beforeCursor != null)
    baseQuery ++ " AND UUID__c < '" ++ vars.beforeCursor ++ "' ORDER BY UUID__c DESC LIMIT " ++ (vars.pageSize + 1)
else if (vars.afterCursor != null)
    baseQuery ++ " AND UUID__c > '" ++ vars.afterCursor ++ "' ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)
else
    baseQuery ++ " ORDER BY UUID__c ASC LIMIT " ++ (vars.pageSize + 1)]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig">
                <salesforce:salesforce-query>#[vars.soql]</salesforce:salesforce-query>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
import dw::util::Pagination
output application/json
---
var result = Pagination::paginate(payload, vars.pageSize, vars.afterCursor, vars.beforeCursor)
---
{
    paging: {
        cursors: {
            before: result.before,
            after: result.after
        },
        hasNext: result.after != null,
        hasPrevious: result.before != null,
        limit: vars.pageSize
    },
    results: result.data map {
        id: $.UUID__c,
        name: $.Name,
        type: $.Type__c,
        status: $.Status__c
    }
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus">200</ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
    </flow>
</mule>
