src/main/mule/resources/product-categories.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
    xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <sub-flow name="validate-product-category" doc:name="VALIDATE: Product Category">
        <choice doc:name="CHECK: Has Name">
            <when expression="#[payload.name?]">
                <validation:is-not-blank-string value="#[payload.name]" message="Product category name cannot be blank.">
                    <error-mapping sourceType="VALIDATION:BLANK_STRING" targetType="VALIDATION_FAILURE:BLANK_NAME" />
                </validation:is-not-blank-string>
            </when>
        </choice>
    </sub-flow>

    <flow name="create-product-category" doc:name="CREATE: Product Category">
        <try doc:name="TRY: Validate Product Category">
            <flow-ref name="validate-product-category" doc:name="INVOKE: Validate Product Category" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Create Product Category in Salesforce">
            <set-variable variableName="categoryId" value="#[import uuid7 from dataweave::util::Id --- uuid7()]" />
            <salesforce:create config-ref="SalesforceConfig" doc:name="CREATE: Product Category in Salesforce" type="ProductCategory__c">
                <salesforce:records>#[[{
                    UUID__c: vars.categoryId,
                    Name: payload.name,
                    (Description__c: payload.description) if (payload.description != null)
                }]]</salesforce:records>
            </salesforce:create>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Product category created: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: 201 Created Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    id: vars.categoryId
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">201</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="find-product-category-by-id" doc:name="GET: Product Category By Id">
        <try doc:name="TRY: Query Product Category by UUID">
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Product Category by UUID">
                <salesforce:salesforce-query>SELECT UUID__c, Name, Description__c FROM ProductCategory__c WHERE UUID__c = ':categoryUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{categoryUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: Category or 404 Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var item = payload[0]
---
if (sizeOf(payload) == 0)
    {message: "Resource not found"}
else
{
    id: item.UUID__c,
    name: item.Name,
    description: item.Description__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
if (sizeOf(payload) == 0) 404 else 200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="update-product-category" doc:name="UPDATE: Product Category">
        <try doc:name="TRY: Validate Product Category">
            <flow-ref name="validate-product-category" doc:name="INVOKE: Validate Product Category" />
            <error-handler ref="error-handlers__handle-validation-failures" />
        </try>
        <try doc:name="TRY: Upsert Product Category by UUID">
            <salesforce:upsert config-ref="SalesforceConfig" doc:name="UPSERT: Product Category by UUID" type="ProductCategory__c" externalIdFieldName="UUID__c">
                <salesforce:records>#[[{
                    UUID__c: vars.id,
                    (Name: payload.name) if (payload.name?),
                    (Description__c: payload.description) if (payload.description != null)
                }]]</salesforce:records>
            </salesforce:upsert>
            <logger level="INFO" message="#[&quot;Raw results: $(write(payload, 'application/json'))&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="PASS: Updated Product Category">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler ref="error-handlers__handle-validation-failures" />
    </flow>

    <flow name="delete-product-category" doc:name="DELETE: Product Category">
        <try doc:name="TRY: Delete Product Category by UUID">
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Lookup Category by UUID">
                <salesforce:salesforce-query>SELECT Id FROM ProductCategory__c WHERE UUID__c = ':categoryUuid' LIMIT 1</salesforce:salesforce-query>
                <salesforce:parameters>#[{categoryUuid: vars.id}]</salesforce:parameters>
            </salesforce:query>
            <salesforce:delete config-ref="SalesforceConfig" doc:name="DELETE: Category by SFDC Id" type="ProductCategory__c">
                <salesforce:ids>#[payload map $.Id]</salesforce:ids>
            </salesforce:delete>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;[$(toString(now()))] Product category deleted: $(vars.id)&quot;]" />
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
        <ee:transform doc:name="SET: 204 No Content Response">
            <ee:variables>
                <ee:set-variable variableName="httpStatus">204</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="query-product-categories" doc:name="GET: Product Categories">
        <try doc:name="TRY: Query Paginated Categories">
            <ee:transform doc:name="SET: Pagination Params">
                <ee:variables>
                    <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.limit default 25) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="afterCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.after]]></ee:set-variable>
                    <ee:set-variable variableName="beforeCursor"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.before]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <ee:transform doc:name="BUILD: SOQL Query">
                <ee:variables>
                    <ee:set-variable variableName="soql"><![CDATA[%dw 2.0
import dw::util::Pagination
output application/java
---
Pagination::buildSoql(
    "SELECT UUID__c, Name, Description__c FROM ProductCategory__c",
    vars.afterCursor,
    vars.beforeCursor,
    vars.pageSize
)]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <salesforce:query config-ref="SalesforceConfig" doc:name="QUERY: Paginated Categories">
                <salesforce:salesforce-query>#[vars.soql]</salesforce:salesforce-query>
            </salesforce:query>
            <logger level="INFO" message="#[%dw 2.0 import toString from dw::util::Coercions --- &quot;Raw Query Result: $(write(payload, 'application/json'))&quot;]" />
            <ee:transform doc:name="MAP: Paginated Categories">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
import dw::util::Pagination
output application/json
---
var result = Pagination::paginate(payload, vars.pageSize, vars.afterCursor, vars.beforeCursor)
---
{
    paging: {
        cursors: {
            before: result.before,
            after: result.after
        },
        hasNext: result.after != null,
        hasPrevious: result.before != null,
        limit: vars.pageSize
    },
    results: result.data map {
        id: $.UUID__c,
        name: $.Name,
        description: $.Description__c
    }
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus">200</ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler ref="error-handlers__handle-salesforce-failures" />
        </try>
    </flow>
</mule>
